/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f0f0f0;
  height: 100%;
  margin: 0;
  padding: 60px 0 0 0;
}

.header{
  top: 0;
  width: 100%;
  position: fixed;
}

.head-title{
  width: auto;
  height: 100%;
  left: 150px;
}

.body-set{
  margin: 0 auto;
  min-height: 500px;
  width: 900px;
  min-width: 300px;
}

.container {
    position: relative;
    width: 200px;
    margin: 50px auto;
}

.new-post{
  float: right;
  right: 50px;
  bottom: 90px;
  position: fixed;
}

/* temple-posting*/

.post{
  margin: 0 auto;
  height: auto;
/*  float left;*/
}

.name{
  width: 100%;
  height: auto;
}

.right-content{
  height: 40px;
  bottom: 0;
}

.list-list{
  float:left;
}

.list-list:before{
  left: 30px;
}

.text-box{
  padding-top: 10px;
  border-top: groove;
  border-color: skyblue;
  padding: 20px 10px 20px 10px;
}

.page{
  width: 100%;
  text-align: center;
}

nav{
  z-index: 1;
}

/* footer */
footer{
  clear: both;
  border-top: groove;
  text-align: center;
  bottom: 0;
  padding: 10px;
  margin-top: 5px;
}
